<main class="">


  <h1 class="m-3 p-3 otsikko">
  Bingo!
  </h1>

  <h2 class="text-white">Tämä bingolauta säilyy sellaisena, kuin se on nyt, vain ensimmäisellä "avauksella", koska tämä on "leikkiprojektini", jota kehitän vähitellen, ja tässä vaiheessa tekemäsi bingo ei tallennu vielä mihinkään.</h2>


  <article class="container-fluid">
    <section class="row row-cols-5">
      <div class="col"*ngFor="let object of messages; let indexNumber = index"><button class="card-body btn alert alert-secondary kortti"  (click)="clickSuccess($event)" id={{indexNumber}}>

        {{object}}

      </button></div>
    </section>

  </article>
  </main>






