<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Bingokeskus</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/etaopetusbingo" data-toggle="collapse" data-target=".navbar-collapse.show"
          >Etäopetusbingo<span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/laheisbingo" data-toggle="collapse" data-target=".navbar-collapse.show"
          >Etäopetuksessa olevan läheisen bingo</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/tee-bingo" data-toggle="collapse" data-target=".navbar-collapse.show"
          >Tee oma bingo</a
        >
      </li>
    </ul>
  </div>
</nav>

