.kortti {

  height: 160px;
}

button:disabled {
  background-color: gainsboro;
}

.otsikko {
  margin-top: 14rem;
  font-size: 5rem;
  color: #9c9c20;
}

.container {
  margin-top: 4rem;
}

@media only screen and (max-width: 768px) {
  .kortti {

    height: 160px;
    width: 160px;
  }
}

@media only screen and (max-width: 425px) {
  .kortti {

    height: 180px;
    width: 120px;
    margin-right:3rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;

  }

  .container {
    margin-right: -5rem;
    width: 180%;
  }
}

